 <!DOCTYPE html>
 <html lang="en">
 <head>

 	<title>ARROW </title>
	
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="team" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/owl.carousel.css">
      <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="static/css/font-awesome.min.css">

      <!-- MAIN CSS -->
      <link rel="stylesheet" href="static/css/tooplate-style.css">

<style>
	* {
	  box-sizing: border-box;
	}
	
body {
  font-family: Arial, Helvetica, sans-serif;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

</style>
</head>

 </head>
 <body>

      <!-- PRE LOADER -->
      <section class="preloader">
           <div class="spinner">

                <span class="spinner-rotate"></span>
               
           </div>
      </section>


      <!-- MENU -->
      <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
           <div class="container">

                <div class="navbar-header">
                     <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="icon icon-bar"></span>
                          <span class="icon icon-bar"></span>
                          <span class="icon icon-bar"></span>
                     </button>

                     <!-- lOGO TEXT HERE -->
                     <a href="/" class="navbar-brand">ARROW COACHING CENTER </a>
                </div>

                <!-- MENU LINKS -->
                <div class="collapse navbar-collapse">
                     <ul class="nav navbar-nav">
                          <li><a href="/" class="smoothScroll">HOME</a></li>
                   <li><a href="/course" class="smoothScroll">MATERIALS</a></li>
                         <li><a href="/online" class="smoothScroll">ONLINE EXAM</a></li>
 					
 						  </a></li>
                          <li><a href="/contact" class="smoothScroll">CONTACT</a></li>
						   <li><a href="/gallery" class="smoothScroll">GALLERY</a></li>
                     </ul>
                     <ul class="nav navbar-nav navbar-right">
                         
                     </ul>
                </div>

           </div>
      </section>


      <!-- FEATURE -->
      <section id="home" data-stellar-background-ratio="0.5">
           <div class="overlay"></div>
           <div class="container">
                <div class="row">

                     <div class="col-md-offset-3 col-md-6 col-sm-12">
                          <div class="home-info">
                               <h3>ARROW COACHING CENTER</h3>
                              <center><h1>ACHIEVERS OF YEAR</h1><center>
                               <form action="/login_check" method="post" class="online-form">
                                 
                              </form>
                         </div>
                    </div>
                    </form>
                          </div>
                     </div>

                </div>
           </div>
      </section>
 
<br>
<br>
<br>
<br>
<br>
<center>
	<div class="row">
	  <div class="column">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="static/images/n1.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
		<br>
      <h1>Kavitha</h1> 
	  <br>
	  
      <h2>REGISTRATION DEPARTMENT</h1> 
     
    </div>
  </div>
    </div>
  </div>
    
    <br>
	  
	    <div class="column">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="static/images/p1.jpeg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
		<br>
      <h1>Satheesh</h1> 
	  <br>
	  
      <h2>PANCHAYAT DEVELOPMENT</h1> 
     </div></div>
    </div>
  </div>

	  <br>
	    <div class="column">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="static/images/p4.jpeg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
		<br>
      <H1>Suganya</H1> 
	  <br>
	  
      <h2>FOREST DEPARTMENT</h1> 
     
    </div>
  </div>
</div>
</div>
	  <br>
	  
	    <div class="column">

	<div class="flip-card">
	  <div class="flip-card-inner">
	    <div class="flip-card-front">
	      <img src="static/images/p2.jpeg" alt="Avatar" style="width:300px;height:300px;">
	    </div>
	    <div class="flip-card-back">
			<br>
	      <h1>Bhavani</h1> 
		  <br>
	  
	      <h2>VILLAGE ADMINISTRATIVE OFFICER</h1> 
        </div>
	    </div>
	  </div>
	</div>	  <br>
	
	  <div class="column">
	<div class="flip-card">
	  <div class="flip-card-inner">
	    <div class="flip-card-front">
	      <img src="static/images/p3.jpeg" alt="Avatar" style="width:300px;height:300px;">
	    </div>
	    <div class="flip-card-back">
			<br>
	      <h1>Nanthini sharmila</h1> 
		  <br>
	  
	      <H2>REGISTRATION DEPARTMENT</H1> 
	 </div>
	 	  </div>
	    
	  </div>	  </div>
	  <br>
	  <div class="column">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="static/images/p5.jpeg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
		<br>
      <h1>Rathi</h1> 
	  <br>
      <H2>DRAFTSMAN</H1> 
     </div>
    </div>
  </div>
</div>	

</div>
<br> 
 	<div class="row">
 	  <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p6.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <H1>Udhayakumar </H1> 
 	  <br>
	  
       <h2>FISHERIES DEPARTMENT</h1> 
     
     </div>
   </div>
     </div>
   </div>
    
    <br>
	  
 	    <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p7.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <H1>Nanthini </H1> 
 	  <br>
	  
       <h2>AGRICULTURE DEPARTMENT</h1> 
      </div></div>
     </div>
   </div>

 	  <br>
 	    <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/e.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Kanimozhi </h1> 
 	  <br>
	  
       <H2>POLICE OFFICER</H1> 
     
     </div>
   </div>
 </div>
 </div>
 	  <br>
	  
 	    <div class="column">

 	<div class="flip-card">
 	  <div class="flip-card-inner">
 	    <div class="flip-card-front">
 	      <img src="static/images/p9.jpeg" alt="Avatar" style="width:300px;height:300px;">
 	    </div>
 	    <div class="flip-card-back">
 			<br>
 	      <h1>Venkatesan</h1> 
 		  <br>
	  
 	      <H2>POLICE DEPARTMENT</H1> 
         </div>
 	    </div>
 	  </div>
 	</div>	  <br>
	
 	  <div class="column">
 	<div class="flip-card">
 	  <div class="flip-card-inner">
 	    <div class="flip-card-front">
 	      <img src="static/images/p10.jpeg" alt="Avatar" style="width:300px;height:300px;">
 	    </div>
 	    <div class="flip-card-back">
 			<br>
 	      <h1>Arun</h1> 
 		  <br>
	  
 	      <H2>POLICE DEPARTMENT</H1> 
 	 </div>
 	 	  </div>
	    
 	  </div>	  </div>
 	  <br>
 	  <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p11.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Arun</h1> 
 	  <br>
       <h2>VILLAGE ADMINISTRATIVE OFFICER</h1> 
      </div>
     </div>
   </div>
 </div>	
 </div>    <br>
 	<div class="row">
 	  <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p13.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Sangeetha</h1> 
 	  <br>
	  
       <h2>SCHOOL EDUCATION DEPARTMENT</h1> 
     
     </div>
   </div>
     </div>
   </div>
    
    <br>
	  
 	    <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p14.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Seetha </h1> 
 	  <br>
	  
       <H2>VILLAGE ADMINISTRATIVE OFFICER</H1> 
      </div></div>
     </div>
   </div>

 	  <br>
 	    <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p15.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Indhuja</h1> 
 	  <br>
	  
       <h2>DRAFTSMAN</h1> 
     
     </div>
   </div>
 </div>
 </div>
 	  <br>
	  
 	    <div class="column">

 	<div class="flip-card">
 	  <div class="flip-card-inner">
 	    <div class="flip-card-front">
 	      <img src="static/images/p16.jpeg" alt="Avatar" style="width:300px;height:300px;">
 	    </div>
 	    <div class="flip-card-back">
 			<br>
 	      <h1>Suthan</h1> 
 		  <br>
	  
 	      <H2>VILLAGE ADMINISTRATIVE OFFICER</H2> 
         </div>
 	    </div>
 	  </div>
 	</div>	  <br>
	
 	  <div class="column">
 	<div class="flip-card">
 	  <div class="flip-card-inner">
 	    <div class="flip-card-front">
 	      <img src="static/images/p17.jpeg" alt="Avatar" style="width:300px;height:300px;">
 	    </div>
 	    <div class="flip-card-back">
 			<br>
 	      <h1>Bhargavi</h1> 
 		  <br>
	  
 	      <H2>LABOR DEPARTMENT</H1> 
 	 </div>
 	 	  </div>
	    
 	  </div>	  </div>
 	  <br>
 	  <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p12.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Kavitha</h1> 
 	  <br>
       <h2>Registration Department</h1> 
      </div>
     </div>
   </div>
 </div>	

 </div>    <br>
 	<div class="row">
 	  <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p18.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Anbuvani </h1> 
 	  <br>
	  
       <H2>POLICE DEPARTMENT</H1> 
     
     </div>
   </div>
     </div>
   </div>
        <br>

	  
 	    <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p19.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Kayalvizhi</h1> 
 	  <br>
	  
       <H2>VILLAGE ADMINISTRATIVE OFFICER</H1> 
      </div></div>
     </div>
   </div>

 	  <br>
 	    <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p20.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Harun raja</h1> 
 	  <br>
	  
       <H2>POLICE DEPARTMENT</H1> 
     
     </div>
   </div>
 </div>
 </div>
 	  <br>
	  
 	    <div class="column">

 	<div class="flip-card">
 	  <div class="flip-card-inner">
 	    <div class="flip-card-front">
 	      <img src="static/images/p21.jpeg" alt="Avatar" style="width:300px;height:300px;">
 	    </div>
 	    <div class="flip-card-back">
 			<br>
 	      <h1>Vaidhegi</h1> 
 		  <br>
	  
 	      <h2>POLICE DEPARTMENT</h1> 
         </div>
 	    </div>
 	  </div>
 	</div>	  <br>
	
 	  <div class="column">
 	<div class="flip-card">
 	  <div class="flip-card-inner">
 	    <div class="flip-card-front">
 	      <img src="static/images/p23.jpeg" alt="Avatar" style="width:300px;height:300px;">
 	    </div>
 	    <div class="flip-card-back">
 			<br>
 	      <h1>Vinu</h1> 
 		  <br>
	  
 	      <h2>MEDICAL AND RURAL HEALTH</h1> 
 	 </div>
 	 	  </div>
	    
 	  </div>	  </div>
 	  <br>
 	  <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p24.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Prema</h1> 
 	  <br>
       <H2>POLICE DEPARTMENT</H1> 
      </div>
     </div>
   </div>
 </div>	

 </div>
     <br>
 	<div class="row">
 	  <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p25.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Maheshwari </h1> 
 	  <br>
	  
       <h2>COMMERCIAL TAX</h1> 
     
     </div>
   </div>
     </div>
   </div>
    <br>

	  
 	    <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p26.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Devi </h1> 
 	  <br>
	  
       <h2>SCHOOL EDUCATION DEPARTMENT</h1> 
      </div></div>
     </div>
   </div>

 	  <br>
 	    <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p27.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Thanga Prema </h1> 
 	  <br>
	  
       <h2>AGRICULTURE DEPARTMENT</h1> 
     
     </div>
   </div>
 </div>
 </div>

	  
 	    <div class="column">

 	<div class="flip-card">
 	  <div class="flip-card-inner">
 	    <div class="flip-card-front">
 	      <img src="static/images/p28.jpeg" alt="Avatar" style="width:300px;height:300px;">
 	    </div>
 	    <div class="flip-card-back">
 			<br>
 	      <h1>Nithya</h1> 
 		  <br>
	  
 	      <H2>PANCHAYAT DEVELOPMENT</H1> 
         </div>
 	    </div>
 	  </div>
 	</div>	  <br>
	
 	  <div class="column">
 	<div class="flip-card">
 	  <div class="flip-card-inner">
 	    <div class="flip-card-front">
 	      <img src="static/images/p29.jpeg" alt="Avatar" style="width:300px;height:300px;">
 	    </div>
 	    <div class="flip-card-back">
 			<br>
 	      <h1>Sudhersan</h1> 
 		  <br>
	  
 	      <h2>COMMERCIAL TAX</h1> 
 	 </div>
 	 	  </div>
	    
 	  </div>	  </div>
 	  <br>
 	  <div class="column">
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p22.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Vaidhegi</h1> 
 	  <br>
       <H2>POLICE DEPARTMENT</H1> 
      </div>
     </div>
   </div>
 </div>	

 </div>
 <br>
</center>
<center>
 	 
 <div class="flip-card">
   <div class="flip-card-inner">
     <div class="flip-card-front">
       <img src="static/images/p8.jpeg" alt="Avatar" style="width:300px;height:300px;">
     </div>
     <div class="flip-card-back">
 		<br>
       <h1>Ramalekshmi </h1> 
 	  <br>
	  
       <H2>VILLAGE ADMINISTRATIVE OFFICER</H1> 
     
     </div>
   </div>
 </div>
 </div>
 	  <br>
</center>

      <!-- FOOTER -->
      <footer id="footer" data-stellar-background-ratio="0.5">
           <div class="container">
                <div class="row">

                    
                          </div>
                     </div>

                </div>
           </div>
      </footer>


      <!-- SCRIPTS -->
      <script src="static/js/jquery.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/jquery.stellar.min.js"></script>
      <script src="static/js/owl.carousel.min.js"></script>
      <script src="static/js/smoothscroll.js"></script>
      <script src="static/js/custom.js"></script>

 </body>
 </html>