 <!DOCTYPE html>
 <html lang="en">
 <head>

 	<title>ARROW COACHING </title>
	
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="team" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      
      <link rel="icon" href="static/images/icona.png">
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/owl.carousel.css">
      <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="static/css/font-awesome.min.css">

      <!-- MAIN CSS -->
      <link rel="stylesheet" href="static/css/tooplate-style.css">

 </head>
 <body>

      <!-- PRE LOADER -->
      <section class="preloader">
           <div class="spinner">

                <span class="spinner-rotate"></span>
               
           </div>
      </section>


      <!-- MENU -->
      <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
           <div class="container">

                <div class="navbar-header">
                     <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="icon icon-bar"></span>
                          <span class="icon icon-bar"></span>
                          <span class="icon icon-bar"></span>
                     </button>

                     <!-- lOGO TEXT HERE -->
                     <a href="/" class="navbar-brand">ARROW COACHING CENTER </a>
                </div>

                <!-- MENU LINKS -->
                <div class="collapse navbar-collapse">
                     <ul class="nav navbar-nav">
                          <li><a href="/" class="smoothScroll">HOME</a></li>
                  
                         <li><a href="/online" class="smoothScroll">ONLINE EXAM</a></li>
 					<li><a href="/course" class="smoothScroll">MATERIALS</a></li>
 						 <li><a href="/achieve" class="smoothScroll">ACHIEVEMENT </a></li>
						  <li><a href="/gallery" class="smoothScroll">GALLERY</a></li>
                         
                     </ul>
                     <ul class="nav navbar-nav navbar-right">
                         
                     </ul>
                </div>

           </div>
      </section>


      <!-- FEATURE -->
      <section id="home" data-stellar-background-ratio="0.5">
           <div class="overlay"></div>
           <div class="container">
                <div class="row">

                     <div class="col-md-offset-3 col-md-6 col-sm-12">
                          <div class="home-info">
                               <h3>ARROW COACHING CENTER</h3>
                               <h1>CONTACT ME IN WHATSAPP </h1>
                               <p><a href="https://api.whatsapp.com/send?phone=919677529252" class="btn btn-primary"><img src="static/images/wt.png"  width="200" height="80"></a></p>
							 
                                    
											 
			                                 <br>
			                                 <br>
			                                 <br>
			                                 <br>
											 
											 
						                                
						                                  
						                                </form>
						                           </div>
						                      </div>
                               </form>
                               </form>
                          </div>
                     </div>

                </div>
           </div>
      </section>


    

    <div class="site-section bg-light" id="contact-section">
	
      <div class="container">
		 
	
        <div class="row">
          <div class="col-lg-8 mb-5" >
			  	<center> <h1>Contact Us</h1>
					<br>
					<br>
            <form action="#" method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Email address">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="" id="" class="form-control" placeholder="Write your message." cols="30" rows="10"></textarea>
				  
                </div>
              </div>
			<br>
		
					
			   <center><input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Send Message"></center>
              <div class="form-group row">
                <div class="col-md-6 mr-auto">
               
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4 ml-auto">
            <div class="bg-white p-3 p-md-5">
				<br>
				<br>
				<br>
				<br>
				<br>
             <center> <h2 class="text-black mb-4"><u>Contact Info</u></h2>
				 
              <ul class="list-unstyled footer-link">
                <li class="d-block mb-3">
                 <br>
               
                <li class="d-block mb-3"><span class="d-block text-black"><b>Email id :</span><br><span><p><a href="mailto:satheesh2910@gmail.com">satheesh2910@gmail.com</a></p></span></li>
				<br>
				
				 <li class="d-block mb-3"><span class="d-block text-black">Phone No :</span><br><span><a href="tel:+919677529252">9677529252</a></p></span></li><br>
				  <li class="d-block mb-3"><span class="d-block text-black">Facebook id :</span><br><span><a href="https://www.facebook.com/arrowcoachingcentre/">arrowcoachingcentre</a></span></li>
				 <br>
				  <li class="d-block mb-3"><span class="d-block text-black">Web site :</span><br><span><a href="http://www.arrowcoaching.org">www.arrowcoaching.org</a></span></li>
 				 <br>
 				  <li class="d-block mb-3"><span class="d-block text-black">Address :</span><br><span><a href="https://goo.gl/maps/YPMghXBeG7WBfB418">Arrow TNPSC Coaching Center<br> Nagercoil Road<br>Vazhukkamparai Junction.</a></span></li></center>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


	


    

      <!-- FOOTER -->
      <footer id="footer" data-stellar-background-ratio="0.5">
           <div class="container">
                <div class="row">
									  <br>
									    <br>
											<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4015928.810694639!2d76.60662267795504!3d10.594376508098563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04f3bbc7c19a69%3A0xd81a8c0a56487f09!2sARROW%20TNPSC%20Coaching%20Centre!5e0!3m2!1sen!2sin!4v1591449771557!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
                    
                          </div>
                     </div>

                </div>
           </div>
      </footer>


      <!-- SCRIPTS -->
      <script src="static/js/jquery.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/jquery.stellar.min.js"></script>
      <script src="static/js/owl.carousel.min.js"></script>
      <script src="static/js/smoothscroll.js"></script>
      <script src="static/js/custom.js"></script>

 </body>
 </html>