<!DOCTYPE html>
<html lang="en">
<head>

	<title>ARROW </title>
	
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="icon" href="static/images/icona.png">
     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/owl.carousel.css">
     <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">
	 <link rel="shortcut icon" href="icona.icon">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/css/tooplate-style.css">
	<style>
   	 .button {
   	   background-color: #90EE90; /* Green */
   	   border: none;
   	   color: white;
   	   padding: 20px;
   	   
   	   display: inline-block;
   	   font-size: 16px;
   
   	   cursor: pointer;
   	 }
	 .button4 {border-radius: 12px;}
	 </style>
	 

</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand">ARROW COACHING CENTER </a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                         <li><a href="/" class="smoothScroll">HOME</a></li>
                         <li><a href="/online" class="smoothScroll">ONLINE EXAM</a></li>
						 <li><a href="/course" class="smoothScroll">MATERIAL</a></li>
						 <li><a href="/achieve" class="smoothScroll">ACHIEVEMENT </a></li>
                         <li><a href="/contact" class="smoothScroll">CONTACT</a></li>
                         <li><a href="/gallery" class="smoothScroll">GALLERY</a></li>
                    </ul>
                    <div class="col-md-6 col-sm-6">
                         	
                    <ul class="nav navbar-nav navbar-right">
                         
                    </ul>
               </div>

          </div>
     </section>


     <!-- FEATURE -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                         <div class="home-info">
                              <h3>ARROW COACHING CENTER</h3>
                              <h1>We Help You To Reach Your Dream Successfully!</h1>
                              <form action="/save_number" method="POST" class="online-form">
                                   <input type="phonenumber" name="number" class="form-control" placeholder="Enter your Phone No" required="">
                                   <br>
                                   <br>
                                   <br>
                               
							   <input type="submit" class="button button4" value="To Contact" onClick="Submit" align="center">
                              </form>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- FEATURE -->
     <section id="feature" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h1>What you get</h1>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <ul class="nav nav-tabs" role="tablist">
                              <li class="active"><a href="#tab01" aria-controls="tab01" role="tab" data-toggle="tab">Course's</a></li>

                              

                              
                         </ul>

                         <div class="tab-content">
                              <div class="tab-pane active" id="tab01" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <h2>TNPSC</h2>
                                        <p>TNPSC Course (Tamil Nadu Public Service Commission) is an exclusive course created for the Recruitments conducted by Tamil Nadu State Govt. TNPSC recruits candidates for state-owned Orgs’ like TNFUSRC, TN TET, etc. There are plenty of Recruitments conducted by TNPSC Every year.</p>
                                   </div>
                                   <div class="tab-pane-item">
                                        <h2>TET</h2>
                                        <p>The Teacher Eligibility Test, known as TET, is the minimum qualification required in India for a person to be eligible for appointment as a teacher for Classes I to VIII. The test is mandatory for teaching jobs in Indian government schools.</p>
                                   </div>
                              </div>


                             
                         </div>

                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="feature-image">
                              <img src="static/images/Books.PNG" class="img-responsive" alt="Thin Laptop">                             
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                         <div class="section-title">
                              <h1>ACHIEVERS - TOP 3</h1>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="team-thumb">
                              <img src="static/images/n1.jpg" class="img-responsive" alt="Kavitha">
                              <div class="team-info team-thumb-up">
                                   <h1>Kavitha</h1>
                                   <h3><i>Registration Department</i></h3>
                                  <h2><b>Communal Rank : 50</h2></b>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="team-thumb">
                              <div class="team-info team-thumb-down">
                                    <h1>Saranya</h1>
                                    <h3><i>Revenue Department</i></h3>
                                   <h2><b>Communal Rank : 141</h2></b>
                              </div>
                              <img src="static/images/n2.jpg" class="img-responsive" alt="Saranya">
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="team-thumb">
                              <img src="static/images/aa.jpg" class="img-responsive" alt="Indumathi">
                              <div class="team-info team-thumb-up">
                                    <h1>Indumathi</h1>
                                    <h3><i>Revenue Department</i></h3>
                                   <h2><b>Communal Rank : 435</h2></b>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- TESTIMONIAL -->
     <section id="testimonial" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="testimonial-image"></div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="testimonial-info">
                              
                              <div class="section-title">
                                   <h1>What People Say</h1>
                              </div>

                              <div class="owl-carousel owl-theme">
                                   <div class="item">
                                        <h3> Excellent teaching and best study materials Best weekly test and individual evaluation Individual concentration to all students Maths teaching is best teaching.Proper guidance to all exams and all other situation.Way of teaching is very understandable one..</h3>
                                        <div class="testimonial-item">
                                             <img src="static/images/n2.jpg" class="img-responsive" alt="Saranya">
                                             <h4>Saranya</h4>
                                        </div>
                                   </div>

                                   <div class="item">
                                        <h3>tnpsc exam pass பண்ணுறது ரொம்ப கஷ்டம், ரொம்ப போட்டி , அப்படி இப்படி nu என்ன பொறுத்தவரை முழு அர்ப்பணிப்போட 1 year correct ah சதீஷ் குமார் sir Class & Notes ah follow பண்ணுனாலே போதும் நீங்க pass பண்ணிறலாம்..</h3>
                                        <div class="testimonial-item">
                                             <img src="static/images/p12.jpeg" class="img-responsive" alt="Subhaga">
                                             <h4>Subhaga</h4>
                                        </div>
                                   </div>

                                   <div class="item">
                                        <h3>சதீஷ்குமார் sir ஐ meet செய்த பின்னர் அண்ணனின் வழிகாட்டுதலின்படி மீண்டும் prepare செய்ய ஆரம்பித்து. தேர்வில் 170(Tamil-91 GK-79).. JUNIOR ASSISTANT AT POLICE DEPARTMENT ஐ தேர்வு செய்துள்ளேன்......
</h3>
                                        <div class="testimonial-item">
                                             <img src="static/images/aji.jpg" class="img-responsive" alt="Monica">
                                             <h4>Ajith</h4>
                                        </div>
                                   </div>
                              </div>

                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


     


     <!-- CONTACT -->
     <section id="contact" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h1>Say hello to us</h1>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <input type="text" class="form-control" placeholder="Full name" name="name" required="">
                              </div>
                              <div class="col-md-4 col-sm-4">
                                   <input type="email" class="form-control" placeholder="Email address" name="email" required="">
                              </div>
                              <div class="col-md-4 col-sm-4">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>
                              <div class="col-md-12 col-sm-12">
                                   <textarea class="form-control" rows="8" placeholder="Your message" name="message" required=""></textarea>
                              </div>
                         </form>
                    </div>

               </div>
          </div>
     </section>       


     <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="copyright-text col-md-12 col-sm-12">
                         <div class="col-md-6 col-sm-6">
                              <h3><b>ARROW COACHING CENTER </b></h3>
                				
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
           						<li><a href="#" class="fa fa-whatsapp"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
								   <li><a href="#" class="fa fa-phone"></a></li>
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="static/js/jquery.js"></script>
     <script src="static/js/bootstrap.min.js"></script>
     <script src="static/js/jquery.stellar.min.js"></script>
     <script src="static/js/owl.carousel.min.js"></script>
     <script src="static/js/smoothscroll.js"></script>
     <script src="static/js/custom.js"></script>

</body>
</html>