<!DOCTYPE html>
<html lang="en">
<head>

	<title>ARROW COACHING </title>
	
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="icon" href="static/images/icona.png">
     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/owl.carousel.css">
     <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">
	 <link rel="shortcut icon" href="icona.icon">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/css/tooplate-style.css">
	<style>
		
		.ml15 {
		  font-weight: 800;
		  font-size: 3.8em;
		  text-transform: uppercase;
		  letter-spacing: 0.5em;
		}

		.ml15 .word {
		  display: inline-block;
		  line-height: 0em;
		}
		

		.nav.a {
		  float: left;
		  display: block;
		  color: #f2f2f2;
		  text-align: center;
		  background-color: red;
		  text-decoration: none;
		  font-size: 17px;
		}

		#chat-btn {
		  width: 40px;
		  height: 28px;
		  background-color: white;
		  border-radius: 4px;
		  position: relative;
		}
		#chat-btn:after {
		    content: "";
		    display: block;
		    position: absolute;
		    width: 0;
		    height: 0;
		    right: 10px;
		    bottom: -10px;
		    border-left: 10px solid transparent;
		    border-right: 2px solid transparent;
		    border-top: 10px solid white;
		}
		
		.ml13 {
		  font-size: 2em;
		  text-transform: uppercase;
		  letter-spacing: 0.5em;
		  font-weight: 600;
		   color: red;
		}

		.ml13 .letter {
		  display: inline-block;
		  line-height: 0em;
		}
			
.open-button {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 80px;
  border-radius: 12px;
}
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 50px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

p.bot {
     padding-left: 0%;
}

p.you {
     padding-left: 0%;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}
   	 .button {
   	   background-color: #90EE90; /* Green */
   	   border: none;
   	   color: white;
   	   padding: 20px;
   	   
   	   display: inline-block;
   	   font-size: 16px;
   
   	   cursor: pointer;
   	 }
	 .button4 {border-radius: 12px;}
	
	 .button1 {
	   border-radius: 4px;
	   background-color: #f4511e;
   	   border: none;
   	   color: white;
   	   padding: 20px;
	 }

	 .button1 span {
	   cursor: pointer;
	   display: inline-block;
	   position: relative;
	   transition: 0.5s;
	 }

	 .button1 span:after {
	   content: '\00bb';
	   position: absolute;
	   opacity: 0;
	   top: 0;
	   right: -20px;
	   transition: 0.5s;
	 }

	 .button1:hover span {
	   padding-right: 25px;
	 }

	 .button1:hover span:after {
	   opacity: 1;
	   right: 0;
	 } 

#fade{
display: none;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: #000;
z-index:1001;
-moz-opacity: 0.7;
opacity:.70;
filter: alpha(opacity=70);
}
#light{
display: none;
position: absolute;
top: 5%;
left: 55%;
width: 640px;
height: 453px;
margin-left: -210px;
margin-top: 100px;                 
background: #CCC;
z-index:1002;
overflow:visible;
}
</style>
<script>
window.document.onkeydown = function (e)
{
if (!e){
    e = event;
}
if (e.keyCode == 27){
    lightbox_close();
}
}
function lightbox_open(){
window.scrollTo(0,0);
document.getElementById('light').style.display='block';
document.getElementById('fade').style.display='block';  
}
function lightbox_close(){
document.getElementById('light').style.display='none';
document.getElementById('fade').style.display='none';
}
</script>
</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span> 
               
          </div>
     </section>
<body onload="lightbox_open()";>
<div class="light" onClick="lightbox_close();" id="light"><img src="static/images/ppp.png" width="400" height="600"></div>
<div id="fade" onClick="lightbox_close();"></div>
</body>



<div class="chat-popup" id="myForm">
  <div class="form-container">
   <center> <h3>CHAT</h3></center>

    <p id="you1" class="you">&nbsp;</p>
    <p id="bot1" class="bot">&nbsp;</p>
    <p id="you2" class="you">&nbsp;</p>
    <p id="bot2" class="bot">&nbsp;</p>

    <label for="msg"><b>Message</b></label><br>
    <input placeholder="Type message.." name="msg" id="alltext"><br><br>

    <button type="button" class="btn" onclick="sendForm()">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </div>
</div>
     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand"><b>ARROW COACHING CENTER</b></a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                         <li><a href="/" class="smoothScroll">HOME</a></li>
                         <li><a href="/online" class="smoothScroll">ONLINE EXAM</a></li>
						 <li><a href="/course" class="smoothScroll">MATERIAL</a></li>
						 <li><a href="/achieve" class="smoothScroll">ACHIEVEMENT </a></li>
                         <li><a href="/contact" class="smoothScroll">CONTACT</a></li>
                         <li><a href="/gallery" class="smoothScroll">GALLERY</a></li>
                    </ul>
                    <div class="col-md-6 col-sm-6">
                         	
                    <ul class="nav navbar-nav navbar-right">
                         
                    </ul>
               </div>

          </div>
     </section>


     <!-- FEATURE -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                         <div class="home-info">
							 
							 
							 <h1><b>ARROW</b></h1>
                             <h3><b>COACHING CENTER</b></h3>
                              <h1>We Help You To Reach Your Dream Successfully!</h1>
							  
							  
			<h1 class="ml13" style="color:Tomato;" ><b>ADMISSION &nbsp;GOING ON</b></h1>

							  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
							  
							  
                              <h3 style="color:red">{{ error }}</h3>
                              <form action="/save_number" method="POST" class="online-form">
                                   <input type="phonenumber" name="number" class="form-control" placeholder="Enter your Phone No" required="">
                                   <br>
                                   <br>
                               
                               
							   <input type="submit" class="button button4" value="To Contact" onClick="Submit" align="center">
                               <br>
                               <br>
							   <a href="/admission" class="button button1">ADMISSION FORM</a>
                               <br>
                               <br>
                               <br>
							   
                              </form>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- FEATURE -->
     <section id="feature" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h1>What you get</h1>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <ul class="nav nav-tabs" role="tablist">
                              <li class="active"><a href="#tab01" aria-controls="tab01" role="tab" data-toggle="tab">Course's</a></li>

                              

                              
                         </ul>

                         <div class="tab-content">
                              <div class="tab-pane active" id="tab01" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <h2>TNPSC</h2>
                                        <p>TNPSC Course (Tamil Nadu Public Service Commission) is an exclusive course created for the Recruitments conducted by Tamil Nadu State Govt. TNPSC recruits candidates for state-owned Orgs’ like TNFUSRC, TN TET, etc. There are plenty of Recruitments conducted by TNPSC Every year.</p>
                                   </div>
                                   <div class="tab-pane-item">
                                        <h2>TET</h2>
                                        <p>The Teacher Eligibility Test, known as TET, is the minimum qualification required in India for a person to be eligible for appointment as a teacher for Classes I to VIII. The test is mandatory for teaching jobs in Indian government schools.</p>
                                   </div>
                              </div>


                             
                         </div>

                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="feature-image">
                              <img src="static/images/Books.PNG" class="img-responsive" alt="Thin Laptop">                             
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                         <div class="section-title">
                              <h1>ACHIEVERS - TOP 3</h1>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="team-thumb">
                              <img src="static/images/n1.jpg" class="img-respo" alt="Kavitha" width="180" height="350" >
                              <div class="team-info team-thumb-up">
                                   <h1>Kavitha</h1>
                                   <h3><i>Registration Department</i></h3>
                                  <h2><b>Communal Rank : 50</h2></b>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="team-thumb">
                              <div class="team-info team-thumb-down">
                                    <h1>Saranya</h1>
                                    <h3><i>Revenue Department</i></h3>
                                   <h2><b>Communal Rank : 141</h2></b>
                              </div>
                              <img src="static/images/n2.jpg" class="img-respon" alt="Saranya" width="180" height="350">
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="team-thumb">
                              <img src="static/images/aa.jpg" class="img-respon" alt="Indumathi" width="180" height="350">
                              <div class="team-info team-thumb-up">
                                    <h1>Indumathi</h1>
                                    <h3><i>Revenue Department</i></h3>
                                   <h2><b>Communal Rank : 435</h2></b>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- TESTIMONIAL -->
     <section id="testimonial" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="testimonial-image"></div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="testimonial-info">
                              
                              <div class="section-title">
                                   <h1>What People Say</h1>
                              </div>

                              <div class="owl-carousel owl-theme">
                                   <div class="item">
                                        <h3> Excellent teaching and best study materials Best weekly test and individual evaluation Individual concentration to all students Maths teaching is best teaching.Proper guidance to all exams and all other situation.Way of teaching is very understandable one..</h3>
                                        <div class="testimonial-item">
                                             <img src="static/images/n2.jpg" class="img-responsive" alt="Saranya">
                                             <h4>Saranya</h4>
                                        </div>
                                   </div>

                                   <div class="item">
                                        <h3>tnpsc exam pass பண்ணுறது ரொம்ப கஷ்டம், ரொம்ப போட்டி , அப்படி இப்படி nu என்ன பொறுத்தவரை முழு அர்ப்பணிப்போட 1 year correct ah சதீஷ் குமார் sir Class & Notes ah follow பண்ணுனாலே போதும் நீங்க pass பண்ணிறலாம்..</h3>
                                        <div class="testimonial-item">
                                             <img src="static/images/p12.jpeg" class="img-responsive" alt="Subhaga">
                                             <h4>Subhaga</h4>
                                        </div>
                                   </div>

                                   <div class="item">
                                        <h3>சதீஷ்குமார் sir ஐ meet செய்த பின்னர் அண்ணனின் வழிகாட்டுதலின்படி மீண்டும் prepare செய்ய ஆரம்பித்து. தேர்வில் 170(Tamil-91 GK-79).. JUNIOR ASSISTANT AT POLICE DEPARTMENT ஐ தேர்வு செய்துள்ளேன்......
</h3>
                                        <div class="testimonial-item">
                                             <img src="static/images/aji.jpg" class="img-responsive" alt="Monica">
                                             <h4>Ajith</h4>
                                        </div>
                                   </div>
                              </div>

                         </div>
                    </div>
                    
               </div>
          </div>
     </section>
	 
	 
	 
	 <div class="nav.a">
		
		 
		 <button class="open-button" onclick="openForm()"> <div id="chat-btn"></button></div>
	   

	 </div> 
     <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                  
                            <center>  
                				

                         
                              <ul class="social-icon">
								  <br>
								  
								    <br>
									  <br>
									    <br>
											<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4015928.810694639!2d76.60662267795504!3d10.594376508098563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04f3bbc7c19a69%3A0xd81a8c0a56487f09!2sARROW%20TNPSC%20Coaching%20Centre!5e0!3m2!1sen!2sin!4v1591449771557!5m2!1sen!2sin" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
										  <br>
                                   <li><a href="https://www.facebook.com/arrowcoachingcentre/
" class="fa fa-facebook-square" attr="facebook icon"></a></li>&nbsp;&nbsp;&nbsp;
           						<li><a href="https://api.whatsapp.com/send?phone=919677529252" class="fa fa-whatsapp fa-xxxlarge"></a></li>&nbsp;&nbsp;&nbsp;
                                   <li><a href="#" class="fa fa-instagram"></a></li>&nbsp;&nbsp;&nbsp;
								   <li><a href="tel:+919677529252 " class="fa fa-phone"></a></li> </center>
								 
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </footer>
     


     <!-- CONTACT -->
     <section id="contact" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h1>Say hello to us</h1>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <input type="text" class="form-control" placeholder="Full name" name="name" required="">
                              </div>
                              <div class="col-md-4 col-sm-4">
                                   <input type="email" class="form-control" placeholder="Email address" name="email" required="">
                              </div>
                              <div class="col-md-4 col-sm-4">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>
                              <div class="col-md-12 col-sm-12">
                                   <textarea class="form-control" rows="1" placeholder="Your message" name="message" required=""></textarea>
                              </div>
                         </form>
                    </div>

               </div>
          </div>
     </section>      
	 


     


     <script>
          talking = true; //when false the speach function doesn't work
          last = 2

          function Speech(say) {
               if ('speechSynthesis' in window && talking) {
                    var utterance = new SpeechSynthesisUtterance(say);
                    //msg.voice = voices[10]; // Note: some voices don't support altering params
                    //msg.voiceURI = 'native';
                    //utterance.volume = 1; // 0 to 1
                    //utterance.rate = 0.1; // 0.1 to 10
                    //utterance.pitch = 1; //0 to 2
                    //utterance.text = 'Hello World';
                    //utterance.lang = 'en-US';
                    speechSynthesis.speak(utterance);
               }
          }

          function openForm() {
               // Speech("hello")

            document.getElementById("myForm").style.display = "block";
          }
          
          function closeForm() {
            document.getElementById("myForm").style.display = "none";
          }
          var wage = document.getElementById("alltext");

          wage.addEventListener("keydown", function(e){
               if(e.keyCode===13){
                    sendForm();
               }
          })

          function sendForm(){
			  
               text = document.getElementById("alltext").value
               ans = ''

               switch(text.toLowerCase()){
                    case "hi":
                         ans = "Hi..Welcome to Arrow coaching.. How can i help you!";
                         break;
                    case "name":
                         ans = "I'm Arrow chat bot";
                         break;
                     case "arrow":
                          ans = "Arrow Coaching is a Coaching Institute for  TNPC , TET Exams ";
                          break;
                      case "contact":
                           ans = "contact Mister Satheesh Kumar 9 6 7 7 5 2 9 2 5 2	";
                           break;
                       case "exam":
                            ans = "For exam Update please check ... Online Exam in top menu ";
                            break;
                        case "thanks":
                             ans = "Welcome .";
                            break;
                    default:
                         ans = "sorry.. i am confused..For clarification please contact Mister Satheesh Kumar 9 6 7 7 5 2 9 2 5 2 "
               }
               if(last == 2){
                    last = 1
               }
               else{
                    last = 2
               }

               // put last chat up
               you1.innerHTML = you2.innerHTML
               bot1.innerHTML = bot2.innerHTML
               //show chat
               you2.innerHTML ="You: "+text;
               bot2.innerHTML = "Bot: ";

               var str = ans.split("");
               var el = document.getElementById("bot2");
               (function animate(){
                    str.length>0?el.innerHTML+=str.shift():
                    clearTimeout(running);
                    var running = setTimeout(animate,80);
               })();

               document.getElementById("alltext").value = ""
               Speech(ans)

}







// Wrap every letter in a span
var textWrapper = document.querySelector('.ml13');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml13 .letter',
    translateY: [100,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1400,
    delay: (el, i) => 300 + 30 * i
  }).add({
    targets: '.ml13 .letter',
    translateY: [0,-100],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1200,
    delay: (el, i) => 100 + 30 * i
  });




          </script>

     <!-- SCRIPTS -->
     <script src="static/js/jquery.js"></script>
     <script src="static/js/bootstrap.min.js"></script>
     <script src="static/js/jquery.stellar.min.js"></script>
     <script src="static/js/owl.carousel.min.js"></script>
     <script src="static/js/smoothscroll.js"></script>
     <script src="static/js/custom.js"></script>

</body>
</html>